<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="tileTable">#</th>
          <th class="tileTable">Nombre Común</th>
          <th class="tileTable">Tipo</th>
          <th class="tileTable">Clima</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let planta of plantas">
          <td>
            <dd class="columNumbers">{{planta.id}}</dd>
          </td>
          <td>
            <dd class="generalText">{{planta.nombre_comun}}</dd>
          </td>
          <td>
            <dd class="generalText">{{planta.tipo}}</dd>
          </td>
          <td>
            <dd class="generalText">{{planta.clima}}</dd>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container-fluid">
  <p class="totalizadorPlantas">Total de plantas de interiror: {{ contarPlantasInteriores() }}</p>
  <p class="totalizadorPlantas">Total de plantas de exterior: {{ contarPlantasExterior() }}</p>
</div>
