.tableHeader {
  background-color: #333A40;
  color: #ffffff;
  height: 50px;
}

.titleTable {
  color: #ffffff;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #333A40;
  padding-bottom: 12px;
}

.totalizadorPlantas{
  color: #000;
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.columNumbers{
  color: #000000;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

.generalText{
  color: #000;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
